<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553481658672-vgg4ptdvd7sir2fjo5o5gjl0d22c1re4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553481658672-vgg4ptdvd7sir2fjo5o5gjl0d22c1re4</string>
	<key>API_KEY</key>
	<string>AIzaSyAD645ZN_uMpOMFPjtDNPDaxn6IFpFbrbg</string>
	<key>GCM_SENDER_ID</key>
	<string>553481658672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.self.Messager</string>
	<key>PROJECT_ID</key>
	<string>messenger-13c79</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-13c79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553481658672:ios:05f7f71035097c11e268f5</string>
</dict>
</plist>